interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.monobank.ua/bank/currency
  response:
    body:
      string: '[{"currencyCodeA":840,"currencyCodeB":980,"date":1663276209,"rateBuy":36.65,"rateSell":37.4995},{"currencyCodeA":978,"currencyCodeB":980,"date":1663317609,"rateBuy":36.6,"rateSell":37.5996},{"currencyCodeA":978,"currencyCodeB":840,"date":1663317609,"rateBuy":0.99,"rateSell":1.006},{"currencyCodeA":826,"currencyCodeB":980,"date":1663328028,"rateCross":43.4426},{"currencyCodeA":392,"currencyCodeB":980,"date":1663327431,"rateCross":0.2626},{"currencyCodeA":756,"currencyCodeB":980,"date":1663327995,"rateCross":39.2556},{"currencyCodeA":156,"currencyCodeB":980,"date":1663327416,"rateCross":5.3738},{"currencyCodeA":784,"currencyCodeB":980,"date":1663327963,"rateCross":10.211},{"currencyCodeA":971,"currencyCodeB":980,"date":1653058293,"rateCross":0.3475},{"currencyCodeA":8,"currencyCodeB":980,"date":1663327674,"rateCross":0.3218},{"currencyCodeA":5[...]
